main p {
	background: pink;
}
main h1 {
	background: pink;
}
#logo{
	width: 25%;
	opacity: 0.5;
	box-shadow: 10px 10px 5px #000000;
}.principal{
	width: 90%;
	opacity: 1;
	box-shadow: 10px 10px 5px #4F4F4F
}