table{
    margin: 20px 0 40px;
}
thead{
    background: #000000;
    color: white;
    font-weight: bold;
}
tr,td{

   border:2px solid #000000;
   font-size: 40px;
   color: green;
}
.pagina{

display: block;
  margin: 0 0 20px;
   padding: 10px 25px;
width:30%;
}

.pagina2{

display: block;
  margin: 0 0 20px;
   padding: 10px 25px;
width:30%;
}
form label {
display:block;
 font-size: 20px;
margin: 0 0 10px;

}

.pagina3{

display: block;
  margin: 0 0 20px;
   padding: 10px 25px;
width:30%;
}
p{
  color:blue;
  text-transform:uppercase
}
label{
  color:blue;
  text-transform: uppercase
}